:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: #f3f3f3;
}

.main_content {
  width: 95%;
  margin-left: 5%;
  text-align: center;
}

.main_content .header {
  padding: 30px;
  margin-bottom: 3%;
}

.main_content .body {
  margin:30px;
  line-height: 25px;
 
}

#exampleAnimation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.dark-mode-checkbox {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 10px;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.exampleAnimation {
  align-items: center;
  size: 3rem;
}

.normalButton {
  background-color: rgb(88, 88, 88);
  border-style: solid;
  border-width: medium;
  border-color: rgb(88, 88, 88);
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  transition-duration: 0.3s;
  margin-right: 2%;
  cursor: pointer;
}

.normalButton:hover {
  background-color: white;
  color: black;
}

.play {
  float: left;
}

.playlistRow {
  color: black;
  background-color: lightgray;
  padding: 2%;
  width: 100%;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.playlistRow h1 {
  display: inline-block;
  font-size: 32px;
  margin-right: 5%;
}

.playlistRow h2 {
  display: inline-block;
  font-size: 32px;
  margin-right: 5%;
}

.playlistRow h3 {
  display: inline-block;
  font-size: 32px;
  margin-right: 5%;
}

.playlistRow input[type="checkbox"] {
  height: 30px;
  width: 30px;
}
.playlistRow input[type="text"] {
  font-size: 100%;
  width: 50%;
  padding: 1%;
  display: inline-block;
  margin-right: 5%;
}
.playlistRow:hover input[type="text"] {
  background-color: rgb(172, 216, 243);
}

.headRow {
  padding: 2% 2%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#createList {
  width: 30%;
}
#deleteList {
  width: 30%;
}



/*
Equalize
*/

.equilizer {
  width: 35%;
  transform: rotate(180deg);
}
.bar {
  fill: rgb(31, 11, 211);
  width: 18px;
  animation: equalize 1.25s steps(25, end) 0s infinite;
}

.bar:nth-child(1) { 
  animation-duration: 3.9s;
}

.bar:nth-child(2) { 
  animation-duration: 4s;
}

.bar:nth-child(3) { 
  animation-duration: 4.3s;
}

.bar:nth-child(4) { 
  animation-duration: 4.4s;
}

.bar:nth-child(5) { 
  animation-duration: 4.1s;
}



@keyframes equalize {
  0% {
    height: 60px;
  }
  4% {
    height: 50px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 60px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 70px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 50px;
  }
  68% {
    height: 60px;
  }
  72% {
    height: 70px;
  }
  76% {
    height: 80px;
  }
  80% {
    height: 70px;
  }
  84% {
    height: 60px;
  }
  88% {
    height: 50px;
  }
  92% {
    height: 60px;
  }
  96% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}







@media screen and (max-width: 768px) {

  .equilizer {
    width: 70%;
  }

  .playlistRow h1 {
    font-size: 12px;
    left: 0px;
  }

  .playlistRow h2 {
    font-size: 12px;
  }

  .playlistRow h3 {
    visibility: hidden;
    display: none;
  }

  .main_content .header {
    font-size: 12px;
    padding: 40px;
  }

  .normalButton {
    border-style: solid;
    border-width: medium;
    font-size: 12px;
  }

  #createList {
    width: 50%;
  }
  #deleteList {
    width: 50%;
  }
}
